<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Webpage Title -->
    <title>timetablehelper</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />

    <style type="text/css">
      * {
        font-family: "Do Hyeon", sans-serif;
      }
      .logo {
        width: 500px;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      .go_timetable {
        width: 500px;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      .custom-select {
        width: 300px;
        height: auto;
      }
    </style>

    <script>
      function q1() {
        $("#go_timetable").hide();
        $("").show();
      }

      function category_change(e) {
        var select_box2_1 = [
          "채플",
          "기독교의이해",
          "글쓰기",
          "(~2019학번)대학영어",
        ];
        var select_box2_2 = [
          "문학과예술",
          "인간과역사",
          "언어와표현",
          "가치와윤리",
          "국가와사회",
          "지역과세계",
          "논리와수리",
          "자연과우주",
          "생명과환경",
          "정보와기술",
          "체육과건강",
        ];
        var select_box2_3 = ["자율선택"];
        var select_box2_4 = ["채플", "기독교의이해", "대학영어", "글쓰기"];
        var select_box2_5 = [
          "문학과예술",
          "인간과역사",
          "언어와표현",
          "가치와윤리",
          "국가와사회공동체",
          "지역사회와세계",
          "논리와수리",
          "자연과우주",
          "생명과환경",
          "소프트웨어",
        ];
        var select_box2_6 = [
          "역사,철학 영역",
          "사회,윤리 영역",
          "인문,예술 영역",
          "세계문화,언어 영역",
          "생활,건강 영역",
        ];
        var select_box2_7 = [
          "문과대학 공통",
          "국어국문학전공",
          "사학전공",
          "철학전공",
          "문헌정보학전공",
          "심리학전공",
          "중어중문학전공",
          "영어영문학전공",
          "독어독문학전공",
          "불어불문학전공",
          "노어노문학전공",
        ];
        var select_box2_8 = ["상경대학공통", "경제학전공", "응용통계학전공"];
        var select_box2_9 = ["경영학전공"];
        var select_box2_10 = [
          "이과대학공통",
          "수학전공",
          "물리학전공",
          "화학전공",
          "지구시스템과학전공",
          "천문우주학전공",
          "대기과학전공",
        ];
        var select_box2_11 = [
          "공과대학공통",
          "화공생명공학전공",
          "전기전자공학전공",
          "건축공학전공",
          "건축학(설계)",
          "도시공학전공",
          "건설환경공학전공",
          "기계공학전공",
          "신소재공학전공",
          "산업공학전공",
          "컴퓨터과학전공",
          "IT융합공학전공",
        ];
        var select_box2_12 = [
          "생명시스템공통",
          "시스템생물학전공",
          "생화학전공",
          "생명공학전공",
        ];
        var select_box2_13 = ["신학과"];
        var select_box2_14 = [
          "사회과학대학공통",
          "정치외교학전공",
          "행정학전공",
          "사회복지학전공",
          "사회학전공",
          "문화인류학전공",
          "언론홍보영상학부",
        ];
        var select_box2_15 = [
          "음악대학공통",
          "교회음악전공",
          "성악전공",
          "피아노전공",
          "관현악전공",
          "작곡전공",
        ];
        var select_box2_16 = [
          "의류환경학전공",
          "식품영양학전공",
          "실내건축학전공",
          "아동가족전공",
          "생활디자인전공",
        ];
        var select_box2_17 = [
          "교육학전공",
          "체육교육학전공",
          "스포츠응용산업전공",
        ];
        var select_box2_18 = [
          "공통교과과정(신촌)",
          "공통교과과정(국제)",
          "언더우드학부(인문사회)-비교문학과문화",
          "언더우드학부(인문사회)-경제학",
          "언더우드학부(인문사회)-국제학",
          "언더우드학부(인문사회)-정치외교학",
          "언더우드학부(공학)-생명과학공학",
          "아시아학부-아시아학",
          "테크노아트학부-정보,인터랙션디자인",
          "테크노아트학부-창의기술경영",
          "테크노아트학부-문화디자인경영",
          "융합사회과학부-사회정의리더십",
          "융합사회과학부-계량위험관리",
          "융합사회과학부-과학기술정책",
          "융합사회과학부-지속개발협력",
          "융합과학공학부-나노과학공학",
          "융합과학공학부-에너지환경융합",
          "융합과학공학부-바이오융합",
        ];
        var select_box2_19 = ["약학전공"];
        var select_box2_20 = [
          "GLC공통교과과정",
          "GLD공통교과과정",
          "글로벌인재학부-국제통상전공",
          "글로벌인재학부-한국문화전공",
          "글로벌인재학부-한국언어문화교육전공",
          "글로벌인재학부-문화,미디어전공",
          "글로벌인재학부-바이오생활공학전공",
          "글로벌인재학부-응용정보공학전공",
        ];
        var select_box2_21 = [
          "유럽지역학",
          "디지털예술학",
          "미국학",
          "한국및동아시아학(중국학)",
          "한국및동아시아학(한국학)",
          "한국및동아시아학(일본학)",
          "외교통상학",
          "인지과학",
          "벤처학",
          "리더십",
          "한국및동아시아학(동아시아학)",
          "비교문학",
          "문화비평학",
        ];
        var select_box2_22 = [
          "교양기초-채플",
          "교양기초-기독교의이해",
          "교양기초-글쓰기",
          "대학교양-문학과예술",
          "대학교양-인간과역사",
          "대학교양-언어와표현",
          "대학교양-가치와윤리",
          "대학교양-국가와사회",
          "대학교양-지역과세계",
          "대학교양-논리와수리",
          "대학교양-자연과우주",
          "대학교양-생명과환경",
          "대학교양-정보와기술",
          "대학교양-체육과건강",
          "기초교육-SE",
          "기초교육-YONSEI RC 101",
          "기초교육-RC운영교과",
          "기초교육-자율선택",
          "전공",
          "의예과(1학년)",
          "치의예과(1학년)",
          "간호(1학년)",
          "(~2019학번)교양기초-대학영어",
        ];
        var select_box2_23 = [
          "공통기초-채플",
          "공통기초-기독교의이해",
          "공통기초-글쓰기",
          "필수교양-문학과예술",
          "필수교양-인간과역사",
          "필수교양-언어와표현",
          "필수교양-가치와윤리",
          "필수교양-국가와사회공동체",
          "필수교양-지역사회와세계",
          "필수교양-논리와수리",
          "필수교양-자연과우주",
          "필수교양-생명과환경",
          "필수교양-소프트웨어",
          "선택교양-일반",
          "선택교양-RC SE(HE1)",
          "선택교양-RC HE2",
          "선택교양-RC HE3",
          "선택교양-YONSEI RC 101",
          "선택교양-RC 기타",
          "전공",
        ];
        var select_box2_24 = ["군사학"];
        var select_box2_25 = ["교직과정"];
        var select_box2_26 = ["의학전공", "의예과"];
        var select_box2_27 = ["치의학전공", "치의예과"];
        var select_box2_28 = ["간호학(2-4학년)", "RN-BSN"];
        var select_box2_29 = ["평생교육사과정"];
        var select_box2_30 = ["Undergraduate", "Graduate", "Korean Language"];
        var target = document.getElementById("select_box2");

        if (e.value == "1") var d = select_box2_1;
        // for문?
        else if (e.value == "2") var d = select_box2_2;
        else if (e.value == "3") var d = select_box2_3;
        else if (e.value == "4") var d = select_box2_4;
        else if (e.value == "5") var d = select_box2_5;
        else if (e.value == "6") var d = select_box2_6;
        else if (e.value == "7") var d = select_box2_7;
        else if (e.value == "8") var d = select_box2_8;
        else if (e.value == "9") var d = select_box2_9;
        else if (e.value == "10") var d = select_box2_10;
        else if (e.value == "11") var d = select_box2_11;
        else if (e.value == "12") var d = select_box2_12;
        else if (e.value == "13") var d = select_box2_13;
        else if (e.value == "14") var d = select_box2_14;
        else if (e.value == "15") var d = select_box2_15;
        else if (e.value == "16") var d = select_box2_16;
        else if (e.value == "17") var d = select_box2_17;
        else if (e.value == "18") var d = select_box2_18;
        else if (e.value == "19") var d = select_box2_19;
        else if (e.value == "20") var d = select_box2_20;
        else if (e.value == "21") var d = select_box2_21;
        else if (e.value == "22") var d = select_box2_22;
        else if (e.value == "23") var d = select_box2_23;
        else if (e.value == "24") var d = select_box2_24;
        else if (e.value == "25") var d = select_box2_25;
        else if (e.value == "26") var d = select_box2_26;
        else if (e.value == "27") var d = select_box2_27;
        else if (e.value == "28") var d = select_box2_28;
        else if (e.value == "29") var d = select_box2_29;
        else if (e.value == "30") var d = select_box2_30;

        target.options.length = 0;

        for (x in d) {
          var opt = document.createElement("option");
          opt.value = d[x];
          opt.innerHTML = d[x];
          target.appendChild(opt);
        }
      }

      function listing() {
        $.ajax({
          type: "GET",
          url: "/schedules",
          data: {},
          success: function (response) {
            if (response["result"] == "success") {
              var schedules = response["schedules"];
              var input01 = $("#select_box1").val();
              var input02 = $("#select_box2").val();
              $("#schedule-box tr:not(:first)").remove();

              for (let i = 0; i < schedules.length; i++) {
                if (
                  schedules[i]["ocode1"] == "s1100100H1" &&
                  schedules[i]["oname2"] == "채플"
                ) {
                  if (schedules1 == undefined) {
                    var schedules1 = [];
                    schedules1.push(schedules[i]);
                  } else {
                    schedules1.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100100H1" &&
                  schedules[i]["oname2"] == "기독교의이해"
                ) {
                  if (schedules2 == undefined) {
                    var schedules2 = [];
                    schedules2.push(schedules[i]);
                  } else {
                    schedules2.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100100H1" &&
                  schedules[i]["oname2"] == "글쓰기"
                ) {
                  if (schedules3 == undefined) {
                    var schedules3 = [];
                    schedules3.push(schedules[i]);
                  } else {
                    schedules3.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100100H1" &&
                  schedules[i]["oname2"] == "(~2019학번)대학영어"
                ) {
                  if (schedules4 == undefined) {
                    var schedules4 = [];
                    schedules4.push(schedules[i]);
                  } else {
                    schedules4.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "문학과예술"
                ) {
                  if (schedules5 == undefined) {
                    var schedules5 = [];
                    schedules5.push(schedules[i]);
                  } else {
                    schedules5.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "인간과역사"
                ) {
                  if (schedules6 == undefined) {
                    var schedules6 = [];
                    schedules6.push(schedules[i]);
                  } else {
                    schedules6.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "언어와표현"
                ) {
                  if (schedules7 == undefined) {
                    var schedules7 = [];
                    schedules7.push(schedules[i]);
                  } else {
                    schedules7.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "가치와윤리"
                ) {
                  if (schedules8 == undefined) {
                    var schedules8 = [];
                    schedules8.push(schedules[i]);
                  } else {
                    schedules8.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "국가와사회"
                ) {
                  if (schedules9 == undefined) {
                    var schedules9 = [];
                    schedules9.push(schedules[i]);
                  } else {
                    schedules9.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "지역과세계"
                ) {
                  if (schedules10 == undefined) {
                    var schedules10 = [];
                    schedules10.push(schedules[i]);
                  } else {
                    schedules10.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "논리와수리"
                ) {
                  if (schedules11 == undefined) {
                    var schedules11 = [];
                    schedules11.push(schedules[i]);
                  } else {
                    schedules11.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "생명과환경"
                ) {
                  if (schedules12 == undefined) {
                    var schedules12 = [];
                    schedules12.push(schedules[i]);
                  } else {
                    schedules12.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "정보와기술"
                ) {
                  if (schedules13 == undefined) {
                    var schedules13 = [];
                    schedules13.push(schedules[i]);
                  } else {
                    schedules13.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100200H1" &&
                  schedules[i]["oname2"] == "체육과건강"
                ) {
                  if (schedules14 == undefined) {
                    var schedules14 = [];
                    schedules14.push(schedules[i]);
                  } else {
                    schedules14.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100250H1" &&
                  schedules[i]["oname2"] == "자율선택"
                ) {
                  if (schedules15 == undefined) {
                    var schedules15 = [];
                    schedules15.push(schedules[i]);
                  } else {
                    schedules15.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100300H1" &&
                  schedules[i]["oname2"] == "채플"
                ) {
                  if (schedules16 == undefined) {
                    var schedules16 = [];
                    schedules16.push(schedules[i]);
                  } else {
                    schedules16.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100300H1" &&
                  schedules[i]["oname2"] == "기독교의이해"
                ) {
                  if (schedules17 == undefined) {
                    var schedules17 = [];
                    schedules17.push(schedules[i]);
                  } else {
                    schedules17.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100300H1" &&
                  schedules[i]["oname2"] == "대학영어"
                ) {
                  if (schedules18 == undefined) {
                    var schedules18 = [];
                    schedules18.push(schedules[i]);
                  } else {
                    schedules18.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100300H1" &&
                  schedules[i]["oname2"] == "글쓰기"
                ) {
                  if (schedules19 == undefined) {
                    var schedules19 = [];
                    schedules19.push(schedules[i]);
                  } else {
                    schedules19.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "문학과예술"
                ) {
                  if (schedules20 == undefined) {
                    var schedules20 = [];
                    schedules20.push(schedules[i]);
                  } else {
                    schedules20.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "인간과역사"
                ) {
                  if (schedules21 == undefined) {
                    var schedules21 = [];
                    schedules21.push(schedules[i]);
                  } else {
                    schedules21.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "언어와표현"
                ) {
                  if (schedules22 == undefined) {
                    var schedules22 = [];
                    schedules22.push(schedules[i]);
                  } else {
                    schedules22.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "가치와윤리"
                ) {
                  if (schedules23 == undefined) {
                    var schedules23 = [];
                    schedules23.push(schedules[i]);
                  } else {
                    schedules23.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "국가와사회공동체"
                ) {
                  if (schedules24 == undefined) {
                    var schedules24 = [];
                    schedules24.push(schedules[i]);
                  } else {
                    schedules24.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "지역사회와세계"
                ) {
                  if (schedules25 == undefined) {
                    var schedules25 = [];
                    schedules25.push(schedules[i]);
                  } else {
                    schedules25.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "논리와수리"
                ) {
                  if (schedules26 == undefined) {
                    var schedules26 = [];
                    schedules26.push(schedules[i]);
                  } else {
                    schedules26.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "자연과우주"
                ) {
                  if (schedules27 == undefined) {
                    var schedules27 = [];
                    schedules27.push(schedules[i]);
                  } else {
                    schedules27.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "생명과환경"
                ) {
                  if (schedules28 == undefined) {
                    var schedules28 = [];
                    schedules28.push(schedules[i]);
                  } else {
                    schedules28.push(schedules[i]);
                  }
                } else if (
                  schedules[i]["ocode1"] == "s1100400H1" &&
                  schedules[i]["oname2"] == "소프트웨어"
                ) {
                  if (schedules29 == undefined) {
                    var schedules29 = [];
                    schedules29.push(schedules[i]);
                  } else {
                    schedules29.push(schedules[i]);
                  }
                }
              }

              if (input01 == 1) {
                if (input02 == "채플") {
                  for (let j = 0; j < schedules1.length; j++) {
                    make_card(
                      schedules1[j]["kna"],
                      schedules1[j]["hakbb"],
                      schedules1[j]["hakjum"],
                      schedules1[j]["oname2"],
                      schedules1[j]["prof"],
                      schedules1[j]["room"],
                      schedules1[j]["time"],
                      schedules1[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 1) {
                if (input02 == "기독교의이해") {
                  for (let j = 0; j < schedules2.length; j++) {
                    make_card(
                      schedules2[j]["kna"],
                      schedules2[j]["hakbb"],
                      schedules2[j]["hakjum"],
                      schedules2[j]["oname2"],
                      schedules2[j]["prof"],
                      schedules2[j]["room"],
                      schedules2[j]["time"],
                      schedules2[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }

              if (input01 == 1) {
                if (input02 == "글쓰기") {
                  for (let j = 0; j < schedules3.length; j++) {
                    make_card(
                      schedules3[j]["kna"],
                      schedules3[j]["hakbb"],
                      schedules3[j]["hakjum"],
                      schedules3[j]["oname2"],
                      schedules3[j]["prof"],
                      schedules3[j]["room"],
                      schedules3[j]["time"],
                      schedules3[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }

              if (input01 == 1) {
                if (input02 == "(~2019학번)대학영어") {
                  for (let j = 0; j < schedules4.length; j++) {
                    make_card(
                      schedules4[j]["kna"],
                      schedules4[j]["hakbb"],
                      schedules4[j]["hakjum"],
                      schedules4[j]["oname2"],
                      schedules4[j]["prof"],
                      schedules4[j]["room"],
                      schedules4[j]["time"],
                      schedules4[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }

              if (input01 == 2) {
                if (input02 == "문학과예술") {
                  for (let j = 0; j < schedules5.length; j++) {
                    make_card(
                      schedules5[j]["kna"],
                      schedules5[j]["hakbb"],
                      schedules5[j]["hakjum"],
                      schedules5[j]["oname2"],
                      schedules5[j]["prof"],
                      schedules5[j]["room"],
                      schedules5[j]["time"],
                      schedules5[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }

              if (input01 == 2) {
                if (input02 == "인간과역사") {
                  for (let j = 0; j < schedules6.length; j++) {
                    make_card(
                      schedules6[j]["kna"],
                      schedules6[j]["hakbb"],
                      schedules6[j]["hakjum"],
                      schedules6[j]["oname2"],
                      schedules6[j]["prof"],
                      schedules6[j]["room"],
                      schedules6[j]["time"],
                      schedules6[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 2) {
                if (input02 == "언어와표현") {
                  for (let j = 0; j < schedules7.length; j++) {
                    make_card(
                      schedules7[j]["kna"],
                      schedules7[j]["hakbb"],
                      schedules7[j]["hakjum"],
                      schedules7[j]["oname2"],
                      schedules7[j]["prof"],
                      schedules7[j]["room"],
                      schedules7[j]["time"],
                      schedules7[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }

              if (input01 == 2) {
                if (input02 == "가치와윤리") {
                  for (let j = 0; j < schedules8.length; j++) {
                    make_card(
                      schedules8[j]["kna"],
                      schedules8[j]["hakbb"],
                      schedules8[j]["hakjum"],
                      schedules8[j]["oname2"],
                      schedules8[j]["prof"],
                      schedules8[j]["room"],
                      schedules8[j]["time"],
                      schedules8[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 2) {
                if (input02 == "국가와사회") {
                  for (let j = 0; j < schedules9.length; j++) {
                    make_card(
                      schedules9[j]["kna"],
                      schedules9[j]["hakbb"],
                      schedules9[j]["hakjum"],
                      schedules9[j]["oname2"],
                      schedules9[j]["prof"],
                      schedules9[j]["room"],
                      schedules9[j]["time"],
                      schedules9[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 2) {
                if (input02 == "지역과세계") {
                  for (let j = 0; j < schedules10.length; j++) {
                    make_card(
                      schedules10[j]["kna"],
                      schedules10[j]["hakbb"],
                      schedules10[j]["hakjum"],
                      schedules10[j]["oname2"],
                      schedules10[j]["prof"],
                      schedules10[j]["room"],
                      schedules10[j]["time"],
                      schedules10[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 2) {
                if (input02 == "논리와수리") {
                  for (let j = 0; j < schedules11.length; j++) {
                    make_card(
                      schedules11[j]["kna"],
                      schedules11[j]["hakbb"],
                      schedules11[j]["hakjum"],
                      schedules11[j]["oname2"],
                      schedules11[j]["prof"],
                      schedules11[j]["room"],
                      schedules11[j]["time"],
                      schedules11[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 2) {
                if (input02 == "생명과환경") {
                  for (let j = 0; j < schedules12.length; j++) {
                    make_card(
                      schedules12[j]["kna"],
                      schedules12[j]["hakbb"],
                      schedules12[j]["hakjum"],
                      schedules12[j]["oname2"],
                      schedules12[j]["prof"],
                      schedules12[j]["room"],
                      schedules12[j]["time"],
                      schedules12[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 2) {
                if (input02 == "정보와기술") {
                  for (let j = 0; j < schedules13.length; j++) {
                    make_card(
                      schedules13[j]["kna"],
                      schedules13[j]["hakbb"],
                      schedules13[j]["hakjum"],
                      schedules13[j]["oname2"],
                      schedules13[j]["prof"],
                      schedules13[j]["room"],
                      schedules13[j]["time"],
                      schedules13[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 2) {
                if (input02 == "체육과건강") {
                  for (let j = 0; j < schedules14.length; j++) {
                    make_card(
                      schedules14[j]["kna"],
                      schedules14[j]["hakbb"],
                      schedules14[j]["hakjum"],
                      schedules14[j]["oname2"],
                      schedules14[j]["prof"],
                      schedules14[j]["room"],
                      schedules14[j]["time"],
                      schedules14[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 3) {
                if (input02 == "자율선택") {
                  for (let j = 0; j < schedules15.length; j++) {
                    make_card(
                      schedules15[j]["kna"],
                      schedules15[j]["hakbb"],
                      schedules15[j]["hakjum"],
                      schedules15[j]["oname2"],
                      schedules15[j]["prof"],
                      schedules15[j]["room"],
                      schedules15[j]["time"],
                      schedules15[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 4) {
                if (input02 == "채플") {
                  for (let j = 0; j < schedules16.length; j++) {
                    make_card(
                      schedules16[j]["kna"],
                      schedules16[j]["hakbb"],
                      schedules16[j]["hakjum"],
                      schedules16[j]["oname2"],
                      schedules16[j]["prof"],
                      schedules16[j]["room"],
                      schedules16[j]["time"],
                      schedules16[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 4) {
                if (input02 == "기독교의이해") {
                  for (let j = 0; j < schedules17.length; j++) {
                    make_card(
                      schedules17[j]["kna"],
                      schedules17[j]["hakbb"],
                      schedules17[j]["hakjum"],
                      schedules17[j]["oname2"],
                      schedules17[j]["prof"],
                      schedules17[j]["room"],
                      schedules17[j]["time"],
                      schedules17[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 4) {
                if (input02 == "대학영어") {
                  for (let j = 0; j < schedules18.length; j++) {
                    make_card(
                      schedules18[j]["kna"],
                      schedules18[j]["hakbb"],
                      schedules18[j]["hakjum"],
                      schedules18[j]["oname2"],
                      schedules18[j]["prof"],
                      schedules18[j]["room"],
                      schedules18[j]["time"],
                      schedules18[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 4) {
                if (input02 == "글쓰기") {
                  for (let j = 0; j < schedules19.length; j++) {
                    make_card(
                      schedules19[j]["kna"],
                      schedules19[j]["hakbb"],
                      schedules19[j]["hakjum"],
                      schedules19[j]["oname2"],
                      schedules19[j]["prof"],
                      schedules19[j]["room"],
                      schedules19[j]["time"],
                      schedules19[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "문학과예술") {
                  for (let j = 0; j < schedules20.length; j++) {
                    make_card(
                      schedules20[j]["kna"],
                      schedules20[j]["hakbb"],
                      schedules20[j]["hakjum"],
                      schedules20[j]["oname2"],
                      schedules20[j]["prof"],
                      schedules20[j]["room"],
                      schedules20[j]["time"],
                      schedules20[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "인간과역사") {
                  for (let j = 0; j < schedules21.length; j++) {
                    make_card(
                      schedules21[j]["kna"],
                      schedules21[j]["hakbb"],
                      schedules21[j]["hakjum"],
                      schedules21[j]["oname2"],
                      schedules21[j]["prof"],
                      schedules21[j]["room"],
                      schedules21[j]["time"],
                      schedules21[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "언어와표현") {
                  for (let j = 0; j < schedules22.length; j++) {
                    make_card(
                      schedules22[j]["kna"],
                      schedules22[j]["hakbb"],
                      schedules22[j]["hakjum"],
                      schedules22[j]["oname2"],
                      schedules22[j]["prof"],
                      schedules22[j]["room"],
                      schedules22[j]["time"],
                      schedules22[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "가치와윤리") {
                  for (let j = 0; j < schedules23.length; j++) {
                    make_card(
                      schedules23[j]["kna"],
                      schedules23[j]["hakbb"],
                      schedules23[j]["hakjum"],
                      schedules23[j]["oname2"],
                      schedules23[j]["prof"],
                      schedules23[j]["room"],
                      schedules23[j]["time"],
                      schedules23[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "국가와사회공동체") {
                  for (let j = 0; j < schedules24.length; j++) {
                    make_card(
                      schedules24[j]["kna"],
                      schedules24[j]["hakbb"],
                      schedules24[j]["hakjum"],
                      schedules24[j]["oname2"],
                      schedules24[j]["prof"],
                      schedules24[j]["room"],
                      schedules24[j]["time"],
                      schedules24[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "지역사회와세계") {
                  for (let j = 0; j < schedules25.length; j++) {
                    make_card(
                      schedules25[j]["kna"],
                      schedules25[j]["hakbb"],
                      schedules25[j]["hakjum"],
                      schedules25[j]["oname2"],
                      schedules25[j]["prof"],
                      schedules25[j]["room"],
                      schedules25[j]["time"],
                      schedules25[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "논리와수리") {
                  for (let j = 0; j < schedules26.length; j++) {
                    make_card(
                      schedules26[j]["kna"],
                      schedules26[j]["hakbb"],
                      schedules26[j]["hakjum"],
                      schedules26[j]["oname2"],
                      schedules26[j]["prof"],
                      schedules26[j]["room"],
                      schedules26[j]["time"],
                      schedules26[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "자연과우주") {
                  for (let j = 0; j < schedules27.length; j++) {
                    make_card(
                      schedules27[j]["kna"],
                      schedules27[j]["hakbb"],
                      schedules27[j]["hakjum"],
                      schedules27[j]["oname2"],
                      schedules27[j]["prof"],
                      schedules27[j]["room"],
                      schedules27[j]["time"],
                      schedules27[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "생명과환경") {
                  for (let j = 0; j < schedules28.length; j++) {
                    make_card(
                      schedules28[j]["kna"],
                      schedules28[j]["hakbb"],
                      schedules28[j]["hakjum"],
                      schedules28[j]["oname2"],
                      schedules28[j]["prof"],
                      schedules28[j]["room"],
                      schedules28[j]["time"],
                      schedules28[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }
              if (input01 == 5) {
                if (input02 == "소프트웨어") {
                  for (let j = 0; j < schedules29.length; j++) {
                    make_card(
                      schedules29[j]["kna"],
                      schedules29[j]["hakbb"],
                      schedules29[j]["hakjum"],
                      schedules29[j]["oname2"],
                      schedules29[j]["prof"],
                      schedules29[j]["room"],
                      schedules29[j]["time"],
                      schedules29[j]["notice"],
                      '<button type="button" class="btn btn-primary my-1 addbutton" onclick="addbtn()">담기</button>'
                    );
                  }
                }
              }

              var tab = document.getElementById("schedule-box");
              console.log(tab.rows.length);
            } else {
              alert("리뷰를 받아오지 못했습니다");
            }
          },
        });
      }

      function make_card(
        kna,
        hakbb,
        hakjum,
        oname2,
        prof,
        room,
        time,
        notice,
        button1
      ) {
        var temp_html =
          "<tr>\
                                <td>" +
          kna +
          "</td>\
                                <td>" +
          hakbb +
          "</td>\
                                <td>" +
          hakjum +
          "</td>\
                                <td>" +
          oname2 +
          "</td>\
                                <td>" +
          prof +
          "</td>\
                                <td>" +
          room +
          "</td>\
                                <td>" +
          time +
          "</td>\
                                <td>" +
          notice +
          "</td>\
                                <td>" +
          button1 +
          "</td>\
                            </tr>";
        $("#dynamicTbody").append(temp_html);
      }
      function del_table() {
        var lo_table = document.getElementById("schedule-box");
        var row_index = lo_table.rows.length - 1; // 테이블(TR) row 개수
        if (row_index > 1) lo_table.deleteRow(row_index);
      }

      function addbtn() {
        $(".addbutton").click(function () {
          var str = "";
          var tdArr = new Array();
          var addbutton = $(this);
          var tr = addbutton.parent().parent();
          var td = tr.children();
          var kna1 = td.eq(0).text();
          var hakbb1 = td.eq(1).text();
          var hakjum1 = td.eq(2).text();
          var oname21 = td.eq(3).text();
          var prof1 = td.eq(4).text();
          var room1 = td.eq(5).text();
          var time1 = td.eq(6).text();
          var notice1 = td.eq(7).text();
          console.log(kna1);
          console.log("클릭한 row의 모든 데이터:" + tr.text());

          $.ajax({
            type: "POST",
            url: "/add",
            data: {
              kna_give: kna1,
              hakbb_give: hakbb1,
              hakjum_give: hakjum1,
              oname2_give: oname21,
              prof_give: prof1,
              room_give: room1,
              time_give: time1,
              notice_give: notice1,
            },
            success: function (response) {
              if (response["result"] == "success") {
                alert(response["담겼습니다!"]);
              }
            },
          });
        });
      }
    </script>
  </head>
  <body>
    <img
      class="logo"
      id="logo"
      src="https://postfiles.pstatic.net/MjAyMDA0MTZfNjAg/MDAxNTg3MDM2OTU2NTgw.y2fbT-ZniyRiA4gJ2qknvbVcU9R5lZT_QTA4pwyOg5Ug.4iJJt5-Pz_bZuQBKlT0GdIpXBOksgOtHGVaj6ceRnEkg.JPEG.jiyoung15105/%EC%8B%9C%EA%B0%84%ED%91%9C%EB%8F%84%EC%9A%B0%EB%AF%B8%EB%A1%9C%EA%B3%A0.jpg?type=w773"
    />
    <img
      class="go_timetable"
      id="go_timetable"
      src="https://postfiles.pstatic.net/MjAyMDA0MTZfMjY1/MDAxNTg3MDM2OTU2NTY4.D-gvrqriJ70OG-g8GrtdBpiv88bpUVA0M8r-Fp2Qa3Yg.zQv5gDrmgbEdg_k2Sz7AKreVMue8g6DMWK8MMrS0eNog.JPEG.jiyoung15105/%EC%8B%9C%EA%B0%84%ED%91%9C%EB%A7%8C%EB%93%A4%EB%9F%AC%EA%B0%80%EA%B8%B0.jpg?type=w773"
    />

    <form class="form-inline">
      <select
        class="custom-select my-1 mr-sm-2"
        id="select_box1"
        onchange="category_change(this)"
      >
        <option selected>전공/영역</option>
        <option value="1">교양기초(2019학번~)</option>
        <option value="2">대학교양(2019학번~)</option>
        <option value="3">기초교육(2019학번~)</option>
        <option value="4">공통기초(10~18학번)</option>
        <option value="5">필수교양(10~18학번)</option>
        <option value="6">선택교양(10~18학번)</option>
        <option value="7">문과대학</option>
        <option value="8">상경대학</option>
        <option value="9">경영대학</option>
        <option value="10">이과대학</option>
        <option value="11">공과대학</option>
        <option value="12">생명시스템대학</option>
        <option value="13">신과대학</option>
        <option value="14">사회과학대학</option>
        <option value="15">음악대학</option>
        <option value="16">생활과학대학</option>
        <option value="17">교육과학대학</option>
        <option value="18">언더우드국제대학</option>
        <option value="19">약학대학</option>
        <option value="20">글로벌인재대학</option>
        <option value="21">연계전공</option>
        <option value="22">국제캠퍼스(2019학번~)</option>
        <option value="23">국제캠퍼스(~2018학번)</option>
        <option value="24">ROTC</option>
        <option value="25">교직과정</option>
        <option value="26">의과대학</option>
        <option value="27">치과대학</option>
        <option value="28">간호대학</option>
        <option value="29">평생교육사과정</option>
        <option value="30">Study Abroad Course</option>
      </select>
      <select class="custom-select my-1 mr-sm-2" id="select_box2">
        <option selected>전체</option>
      </select>
      <button type="button" class="btn btn-primary my-1" onclick="listing()">
        Submit
      </button>
    </form>

    <ul id="names-q1"></ul>
    <table
      id="schedule-box"
      class="schedule-box"
      border="1"
      style="width: 80%;"
    >
      <thead>
        <tr>
          <th>교과목명</th>
          <th>학정번호</th>
          <th>학점</th>
          <th>분류</th>
          <th>담당교수</th>
          <th>강의실</th>
          <th>강의시간</th>
          <th>유의사항</th>
          <th>담으시겠습니까?</th>
        </tr>
      </thead>
      <tbody id="dynamicTbody"></tbody>
    </table>
  </body>
</html>
